.place__title {
    color: #ffffff;
    line-height: 1.06;
    font-weight: 900;
    font-size: 72px;
    margin-top: 0;
    max-width: 460px;
    width: 100%;
    margin-bottom: 48px;
    align-self: flex-end;
    box-sizing: border-box;
}

@media screen and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 1023px) {
    .place__title {
        font-size: 42px;
        max-width: 340px;
        padding-right: 12px;
    }
}

@media screen and (max-width: 620px) {
    .place__title {
        font-size: 32px;
        margin: 0 16px;
        width: 100%;
    }
}
