.place {
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 480px) {
  .place {
    margin-bottom: 49px;
  }
}
